* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

main {
    padding: 5rem 2rem;
}
.header {
    text-align: center;
}
.title {
    font-size: 2.5rem;
}

.startVoteButton {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
